/* ==========================================================================
   IMPORTED GOOGLE FONTS
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

/* ==========================================================================
   INITIALIZED CUSTOM STYLES
   ========================================================================== */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    color: #666;
}
* {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a, a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
/* ==========================================================================
   CUSTOM CLASSES STYLES
   ========================================================================== */
.section_padding {
	padding: 120px 0;
}
.section_header {
    text-transform: uppercase;
    font-size: 39px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #333;
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}
.section_header:after {
    width: 50px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -25px;
    content: '';
    background: #cccccc;
    margin-top: 10px;
    margin-left: -25px;
}
.section_header:before {
    width: 50px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -25px;
    content: '';
    background: #cccccc;
    margin-top: 15px;
    margin-left: -25px;
}
.content_margin_top {
    margin-top: 30px;
}
.btn-primary {
    color: #fff;
    background-color: #00bbec;
    border-color: #00bbec;
}
.btn-primary:hover {
    color: #fff;
    background-color: #08ceff;
    border-color: #08ceff;
}

/* ==========================================================================
   NAVBAR CUSTOM STYLES
   ========================================================================== */
.navbar {
	min-height: 100px;
}
.navbar .navbar-brand img {
 	max-width: 70px;
 	max-height: 70px;
}
.navbar .navbar-brand {
 	font-family: 'Poppins', sans-serif;
 	font-weight: 700;
 	color: #333333;
}
.navbar-nav .nav-item {
	/*transition: all 0.3s ease;*/
}
.navbar-nav .nav-item:hover {
    background: #00bbec;
    border-radius: 3px;
}
.navbar-nav .nav-item.dropdown:hover {
    border-radius: 3px 3px 0px 0px;
}
.navbar-nav .nav-item .nav-link {
 	padding: 15px 25px;
	font-family: "Poppins", sans-serif;
	font-size: 13px;
	color: #9a9a9a;
	font-weight: 700;
	transition: all 0.3s ease;
}
.dropdown-menu {
    display: none;
    margin-top: 0;
    border: none;
    min-width: 12rem;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    background: #00bbec;
    border-radius: 0 0.25rem 0.25rem .25rem;
}
.dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #00bbec;
}
.navbar-nav .nav-item:hover .nav-link {
  	color: #fff;
  	transition: all 0.3s ease;
}
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  	padding: 5px 25px;
  	font-size: 13px;
  	display: block;
  	transition: all 0.3s ease;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	font-weight: 300;
	text-transform: capitalize;
}
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  	padding-left: 35px;
}
.dropdown-toggle::after {
    display:none
}
.custom_contact_btn {
	background: #00bbec;
    border-color: #00bbec;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 48px;
    display: inline-block;
    padding: 0 30px;
	transition: all 0.3s ease;
}
.custom_contact_btn:hover {
    color: #fff;
    background: #08ceff;
    border-color: #08ceff;
}

/* ==========================================================================
   HERO SECTION STYLES
   ========================================================================== */
#hero_section {
	background: url(../images/slide.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
	background-attachment: fixed;
    margin-top: 99px;
}
#hero_section:after {
	content: '';
    background: #252525;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.05;
	z-index: -1;
}
.hero_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6;
    margin-top: 15%;
    margin-bottom: 15%;
}

/* ==========================================================================
   MOUSE WHEEL STYLES
   ========================================================================== */
.mouse_wheel {
	position: absolute;
	width: 33px;
	height: 45px;
	border-radius: 15px;
	border: 2px solid #ffffff;
	transform: translateX(-50%);
	z-index: 100;
	left: 50%;
	bottom: 10%;
}
.mouse_wheel_inner {
	position: absolute;
	left: 50%;
	width: 7px;
	height: 7px;
	background: #ffffff;border-radius: 100%;margin-left: -3px;
	bottom: 8px;
	animation: mouse-wheel 1.25s infinite linear;
	transform-origin: 50% 0%;
}
@keyframes mouse-wheel {
	0% {
	    transform: scaleY(1) translateY(0);
	}
	20% {
	    transform: scaleY(1) translateY(0);
	}
	60% {
	    transform: scaleY(1.5) translateY(-7px);
	}
	100% {
	    transform: scaleY(1) translateY(0);
	}
}

/* ==========================================================================
   ABOUT SECTION STYLES
   ========================================================================== */

.custom_about p {
	max-width: 70%;
}
.custom_about a {
	background: transparent;
	color: #808080;
	display: inline-block;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 48px;
	border: 1px solid #dddddd;
	display: inline-block;
	padding: 0 30px;
	transition: all 0.3s ease;
}
.custom_about a:hover {
    color: #fff;
    background: #08ceff;
    border-color: #08ceff;
}


article figure {
    margin-bottom: 35px;
    width: 82px;
    height: 82px;
    background: #00bbec;
    border-radius: 100%;;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
article figure.card-block i {
    font-size: 36px;
	color: #fff;
}
article h3.card-title {
    font-weight: 700;
	font-size: 18px;
	margin-bottom: 20px;
	font-family: "Poppins", sans-serif;
	color: #333333;
	text-transform: uppercase;
}
.hire_me {
	text-align: center;
}
.hire_me a {
    background: #00bbec;
    border-color: #00bbec;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 48px;
    padding: 0 30px;
    transition: all 0.3s ease;

}
.hire_me a:hover {
    color: #fff;
    background: #08ceff;
    border-color: #08ceff;
}



#service_section .card {
    margin-top: 55px;
    margin-bottom: 55px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#service_section .service_spacing {
	margin-top: 0;
}






/* ==========================================================================
   POERFOLIO SECTION
   ========================================================================== */
.portfolio_section {
    
}
.portfolio_menu{
    text-align: center;
}
.portfolio_menu ul {
    padding: 0;
	margin: 0;
    margin-bottom: 0px;
	list-style: none;
	display: block;
    margin-bottom: 60px;
    text-align: center;
}
.portfolio_menu ul li {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 5px 12px;
    line-height: 28px;
    margin: 0 12px;
    border: 1px solid transparent;
    display: inline-block;
    text-transform: uppercase;
}
.portfolio_items .item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
}
.portfolio_items .item:hover .portfolio_item_hover {
    visibility: visible;
    opacity: 1;
}

.portfolio_item_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
}
.portfolio_item_hover a {
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    display: block;
    background: #00bbec;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    margin-bottom: 30px;
    border-color: #e5e5e5;
    transition: all 0.5s ease;
}
.portfolio_item_hover a:hover {
    background: #ffffff;
    color: #333333;
}
.portfolio_name {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    right: 0;
    top: auto;
    visibility: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    background: #00bbec;
}
.porfolio_name a {
    display: block;
}
.portfolio_name h3 {
    color: #fff;
	margin-bottom: 0;
	padding: 25px 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
}
.portfolio_items .item:hover .portfolio_name {
    visibility: visible;
    opacity: 1;
}

.portfolio_items .mix .item {
    display: none;
    border-radius: 3px;
}
#loadmore {
    display: block;
    text-align: center;
    line-height: 58px;
    border-radius: 3px;
    background: none;
    color: #808080;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    padding: 0 30px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    height: 60px;
    width: 100%;
    margin-top: 10px;
}




#counter_section {
    background: url('../images/bg-section-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}
#counter_section:after {
    content: '';
    background: #000000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}
.counter_box {
    text-align: center;
}
.counting_number {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    display: block;
}
.counting_title {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}



/* the slides */
  .slick-slide {
    margin: 0 15px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -15px;
}
.slick-prev {
    left: -10px;
}
.slick-next {
    right: -10px;
}
.slick-prev, .slick-next {
    font-size: 30px;
    line-height: 0;
    position: absolute;
    top: 22.5%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 3px;
    outline: none;
    background: #00a9d4;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.slick-arrow:hover, .slick-arrow:focus {
    color: #ffffff !important;
    background: #00a9d4;
}
.slick-dots {
    position: relative;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: #e6e6e6;
    color: #333333;
    border-radius: 100%;
    vertical-align: middle;
}
.slick-dots li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    color: #333333;
    border-radius: 100%;
}
.slick-dots li a:hover {
    background: #00bbec !important;
    color: #fff !important;
}
.slick-dots li.slick-active {
    background: #333333;
    color: #fff;
}
#blog_section .card {
		margin: 3rem 0;
}
.blog_slider .card .card-img {
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 0 !important;
}
.blog_slider .card img.card-img-top {
    transition: all 1s ease;
}
.blog_slider .card img.card-img-top:hover {
    transform: scale(1.1);
}
.blog_slider .card .card-title  {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.blog_slider .card .card-title:hover {
    color: #00bbec;
}
.blog_slider .card .card-body a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #555555;
    text-transform: uppercase;
    padding-left: 0;
}


.testimonial_box {
	display: flex !important;
	flex-direction: row;
	justify-content: flex-start;
}
.testimonial_img {
    flex: 0 0 160px;
    max-width: 160px;
}
.testimonial_img img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
.testimonial_contents {
    padding-left: 30px;
}
.testimonial_contents p {
    margin-bottom: 25px;
}
.testimonial_contents h3 {
    font-size: 14px;
}
.testimonial_contents h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}



#contact_section {
    background: #333333;
}
#contact_section h2.section_header {
    color: #ffffff;
}
.custom_contact_form label, .custom_contact_textarea label {
    color: #fff;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: uppercase;
}
.custom_contact_form input{
    border-radius: 3px;
    border-color: #fff;
    display: block;
    width: 100%;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    padding: 0 15px;
    height: 45px;
    border: 1px solid #cccccc;
}

.custom_contact_textarea textarea {
    height: 227px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    padding: 15px 15px;
    border: 1px solid #cccccc;
}
.custom_contact_submit {
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 3px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 48px;
    background-color: #00a9d4;
    border: 1px solid #00a9d4;
    display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
    margin-top: 15px;
}



























footer{
    background: #292929;
    padding: 30px 0;
}
.footer_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*.author_copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer_menu {
    float: right;
}*/
.author_copyright p {
    color: #999999;
    margin-bottom: 0;
}
.footer_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_menu ul li {
    display: inline-block;
    margin-left: 5px;
}
.footer_menu ul li a {
        background: #292929;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.footer_menu ul li a:hover {}





#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #00bbec;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 9px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #00a9d4;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}







/* ==========================================================================
   ABOUT PAGE STYLES
   ========================================================================== */

/* ==========================================================================
   BREADCRUMB STYLES
   ========================================================================== */
#breadcumb_section {
    margin-top: 99px;
    background: url(../images/heading-page-01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
#breadcumb_section h1 {
    font-size: 50px;
    text-transform: uppercase;
}
#breadcumb_section .breadcrumb {
    justify-content: center;
    background-color: transparent;
    padding: 0;
    align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
}
#breadcumb_section .breadcrumb li a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    text-transform: capitalize;
}
#breadcumb_section .breadcrumb li a:hover {
    color: #00bbec;
}
#breadcumb_section .breadcrumb .breadcrumb-item.active {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1;
}





#skill_section .progress {
    height: 0.625rem;
    background-color: #cccccc;
    border-radius: 3.125rem;
    display: block;
    width: 100%;
    position: relative;
    overflow: visible;
}
#skill_section .progress_box_custom {
    margin-bottom: 30px;
}
#skill_section .progress .progress-bar {
    background: #00bbec;
    border-radius: 3.125rem;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease-in-out;
}
.progress_box_custom h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
#skill_section .progress .progress-bar .progress_value_custom {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: -33px;
    color: #333;
    font-weight: 400;
}



#about_counter_section {
    background: url('../images/bg-section-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}
#about_counter_section:after {
    content: '';
    background: #000000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}







#price_section .card {
text-align: left;
padding: 35px;
position: relative;
background: #fff;
height: 100%;
}
#price_section .card .card-header {
padding-bottom: 20px;
border-bottom: 1px solid #e5e5e5;
margin-bottom: 10px;
}
#price_section .card .card-body {
    padding: 0;
}
#price_section .card .card-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 0 0px 20px 0;
}
#price_section .card .card-title {
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 0;
}
#price_section .card .card-subtitle {
font-size: 36px;
color: #333333;
margin-bottom: 16px;

}

#price_section .list-group-item {
    padding-left: 0;
    padding-right: 0;
}
#price_section .list-group-item:last-child {
    border-bottom: none;
}

#price_section .card-footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-top: none;
}
#price_section .card-link {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    border-radius: 3px;
}













/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	body {
		font-size: 14px;
	}
	.section_padding {
		padding: 30px 0;
	}
	.section_header {
		font-size: 24px;
	}
	.custom_contact_btn {
	    background: transparent;
	    color: #9a9a9a;
	    font-size: 13px;
	    border: none;
	    text-align: left;
	    display: block;
	    padding: 0 24px;
	}
	.custom_contact_btn:hover {
	    color: #fff;
	    background: #00bbec;
	    border: none;
	}
    .hero_heading {
        font-size: 36px;
        margin-top: 15%;
        margin-bottom: 25%;
    }
	.custom_about p {
	    max-width: 100%;
	    margin-top: 0;
	}
	.custom_about a {
	    font-size: 12px;
	    padding: 0 10px;
	}
	#service_section .card {
		margin-top: 15px;
		margin-bottom: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	article figure {
	    margin-bottom: 25px;
	    width: 60px;
	    height: 60px;
	}
	article figure.card-block i {
	    font-size: 30px;
	}
	article h3.card-title {
		font-size: 14px;
	    margin-bottom: 14px;
	}
	.hire_me a {
	    padding: 0 15px;
	}
	.portfolio_menu {
	    margin: 15px 0;
	}
	.portfolio_menu ul {
		margin-bottom: 0;
	}
	.portfolio_menu ul li {
	    padding: 0px 0;
	    margin: 5px 5px;
	    font-size: 10px;
	    line-height: 1;
	}
	.portfolio_name h3 {
	    padding: 10px 0;
	    font-size: 14px;
	}
	.counting_number {
		font-size: 36px;
		margin-bottom: 0;
	}
	#blog_section .card {
		margin: 0 0;
	}
	.testimonial_box {
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	.testimonial_contents {
	    padding-left: 0;
	}
	.testimonial_contents p {
	    margin-top: 25px;
	}
	.testimonial_contents h3 {
	    font-size: 14px;
	}
	.footer_flex {
		justify-content: center;
		flex-direction: column;
	}
	.author_copyright p {
	    margin-bottom: 15px;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.testimonial_box {
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	.testimonial_contents {
	    padding-left: 0;
	}
	.testimonial_contents p {
	    margin-top: 25px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	nav.fixed-top {
		padding: 0 50px;
	}
}